* {
  margin: 0;
  padding: 0;
  background-color: #FC9824;
  color: #fafafa;

}

.container {
  display: grid;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 300px; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.header {
  grid-column: 1 / -1;
}

.loader {
  border: 1px solid saddlebrown;
}