* {
  margin: 0;
  padding: 0;
  background-color: #fc9824;
  color: #fafafa;
}

body {
  font-family: relay;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: grid;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.header {
  grid-column: 1 / -1;
  text-align: center;
}

.wrapper {
  padding: 17px 7px 7px 84px;
}

.spin {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 10px 0 0 59px;
}
.spin div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 40%;
  animation: spin 1.2s linear infinite;
}
.spin div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.spin div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.spin div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.spin div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.spin div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.spin div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.spin div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.spin div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.spin div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.spin div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.spin div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.spin div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes spin {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.round {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 14px 61px;
}
.round div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.round div:nth-child(1) {
  left: 6px;
  animation: round1 0.6s infinite;
}
.round div:nth-child(2) {
  left: 6px;
  animation: round2 0.6s infinite;
}
.round div:nth-child(3) {
  left: 26px;
  animation: round2 0.6s infinite;
}
.round div:nth-child(4) {
  left: 45px;
  animation: round3 0.6s infinite;
}
@keyframes round1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes round3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes round2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.sk-double-bounce {
  width: 35px;
  height: 35px;
  position: relative;
}

.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fafafa;
  opacity: 0.6;
  position: absolute;
  top: 25px;
  left: -10px;
  animation: sk-double-bounce 2s infinite ease-in-out;
}
.sk-double-bounce .sk-double-bounce-2 {
  animation-delay: -1s;
}

@keyframes sk-double-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.sk-chasing-dots {
  width: 4em;
  height: 4em;
  position: relative;
  margin-left: -1.7vw;
  text-align: center;
  animation: sk-chasing-dots-rotate 2s infinite linear;
}
.sk-chasing-dots .sk-child {
  width: 2em;
  height: 2em;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fafafa;
  border-radius: 100%;
  animation: sk-chasing-dots-bounce 2s infinite ease-in-out;
}
.sk-chasing-dots .sk-dot-2 {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes sk-chasing-dots-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chasing-dots-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

/* stairs */

.stair {
  position: relative;
  width: 75px;
  height: 100px;
  margin: 0 0 -11px 84px;
}
.stair__bar {
  position: absolute;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.stair__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
.stair__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
.stair__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
.stair__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
.stair__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
.stair__ball {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 4s infinite;
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.text {
  font-size: 16px;
  display: inline-block;
  color: #fff;
  margin-left: 5px;
}

.bounce-ball {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 15px;
}
.bounce-ball:before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  animation: bounce 0.5s alternate infinite ease;
}
@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
