:root {
  --green: #097774;
  --white: #ffffff;
  --lighter-grey: #f3f3f3;
  --lightiest-grey: #f0f0f0;
  --black: #000000;
  --light-grey: #e8e8e8;
  --grey: #9e9e9e;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .top,
  .register {
    display: flex;
  }

  .header {
    background: url(../img/sample2.jpg) center no-repeat;
    width: 1200px;
    height: 735px;
    background-size: cover;
  }

  .top {
    justify-content: space-between;
  }

  .logo {
    margin-left: 49px;
  }

  .logo,
  .login,
  .signup {
    margin-top: 36px;
  }

  .logo a,
  .login a,
  .signup a {
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    text-decoration: none;
  }

  .register p {
    margin-right: 40px;
  }

  .lorem {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header h1 {
    font-size: 3em;
    letter-spacing: 0.22em;
    color: white;
    font-weight: 100;
    margin-top: 203px;
    letter-spacing: 0.18em;
  }

  #amp {
    font-size: 1.9em;
  }

  .header p {
    font-size: 0.9em;
    color: white;
  }

  .nav {
    margin-top: 170px;
    display: flex;
  }

  .nav button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    /* margin: 0px 30px 0px 30px; */
    color: white;
    font-weight: 400;
  }

  .nav a:nth-child(2) {
    margin: 0px 150px 0px 150px;
  }

  .triangles {
    font-size: 0.9em;
  }

  .black {
    width: 1200px;
    height: 200px;
    border-top: 0px solid transparent;
    border-bottom: 220px solid transparent;
    border-right: 1200px solid black;
    color: white;
  }

  .black p {
    width: 600px;
    margin-left: 600px;
  }

  .white {
    position: relative;
    top: -116px;
    right: -50px;
  }

  .featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .featured h2 {
    font-size: 1.35em;
    margin-top: -46px;
    letter-spacing: 0.08em;
    font-weight: 100;
  }

  .featured .card {
    margin-top: 20px;
  }

  .card {
    display: flex;
  }

  .card .img,
  .card .description {
    width: 550px;
    height: 300px;
  }

  .img {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .img p {
    font-weight: 900;
  }

  .likes {
    margin-left: auto;
    border: 2px solid white;
    background-color: rgba(44, 44, 44, 0.3);
    padding: 5px;
  }

  .date {
    background-color: rgba(44, 44, 44, 0.4);
    width: 190px;
  }

  #firstImgFeatured {
    background: url(../img/sample-1.jpg) no-repeat;
  }

  #secondImgFeatured {
    background: url(../img/sample-2.jpg) no-repeat;
  }

  #firstImgFeatured,
  #secondImgFeatured {
    background-size: cover;
  }

  .description p {
    font-size: 0.8em;
    margin: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }

  .tiles {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
  }

  div .tile {
    width: 225px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }

  .tile .likes {
    margin-right: 20px;
    margin-top: 20px;
  }

  .tile .date {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 900;
  }

  #tile1 {
    background: url(../img/news-list-1.jpg);
  }

  #tile2 {
    background: url(../img/news-list-2.jpg);
  }

  #tile3 {
    background: url(../img/news-list-3.jpg);
  }

  #tile4 {
    background: url(../img/news-list-4.jpg);
  }
  
  #tile1,
  #tile2,
  #tile3,
  #tile4 {
    background-size: cover;
  }

  .explore {
    background-color: rgba(9, 119, 116, 0.7);
    border: #097774;
    width: 80%;
    height: 35px;
    margin: 0 auto;
    color: white;
    font-weight: 900;
    font-size: 1em;
  }

  .load {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .load button {
    width: 300px;
    height: 50px;
    background-color: rgba(9, 119, 116, 0.7);
    border: #097774;
    color: white;
  }

   div.load > p {
    width: 95%;
    margin-top: 75px;
    font-size: 0.9em;
    color: #333;
  };

  body > div.container > div.subscribe h3 {
    margin-top: 50px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
  }

  .copy {
    color: #ccc;
  }

  .footnav a {
    text-decoration: none;
    color: #333;
    margin: 10px;
    font-size: 0.8em;
  }
}
