@media print {
  body {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
  }

  .tm-sidebar,
  .gallery-container,
  .tm-team-img,
  .img-contact-us,
  #contact,
  .tm-main-nav,
  .carousel-indicators {
    display: none;
  }

  #home {
    position: relative;
    top: -30mm;
    width: 100%;
  }

  body > .container > .tm-main-content > section {
    position: relative;
    top: -45mm;
    width: 100%;
    text-align: center;
  }

  .tm-section-title,
  .tm-section-description {
    width: 150%;
  }

  section > div > h2 {
    color: lightskyblue;
    font-weight: 300;
  }

  section > div > ol {
    width: 55%;
    position: relative;
    left: 20%;
  }

  section > div > ol > li:nth-child(odd) {
    text-align: left;
  }

  section > div > ol > li:nth-child(even) {
    text-align: right;
  }

  section > div > ol > li {
    list-style-type: none;
    text-decoration: none;
    color: #ccc;
  }

  section > div > ol > li > a {
    color: #555;
  }

  section > div > ol > li::first-letter {
    color: lightskyblue;
    font-size: 20px;
  }

  .blocks > div > .tm-section-title,
  .blocks > div > .tm-section-description {
    position: relative;
    top: -30mm;
  }

  body > div > div.tm-main-content > section.heading.tm-content-box,
  body > div > div.tm-main-content > section.blocks {
    position: relative;
    top: -77mm;
  }

  #ideas {
    position: relative;
    top: -138mm;
  }

  #ideas > div > div > div > div > div > h2,
  #ideas > div > div > div > div > div > p {
    width: 100%;
  }

  .tm-footer {
    position: relative;
    width: 100%;
    top: -170mm;
  }
}

@media screen {
  .tm-box-bg-title:hover {
    background-color: skyblue;
    color: #fff;
    font-weight: 400;
  }

  .tm-sidebar,
  section {
    box-shadow: 0px 0px 10px 2px rgba(61, 55, 61, 0.7);
  }

  #home {
    background-color: #76cdd7;
  }

  .tm-banner-inner {
    background-color: #fff;
    text-shadow: 0px 10px 2px #76cdd7;
    letter-spacing: 1.5mm;
  }

  section::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 0;
    border-color: #76cdd7 transparent transparent transparent;
  }

  section > div > h2 {
    color: lightskyblue;
    text-align: center;
  }

  section > div > ol > li {
    list-style: lower-roman;
  }

  section > div > ol > li > a:visited {
    color: #ffb347;
  }

  section > div > ol > li > a:hover {
    color: #ffb347;
    font-weight: 900;
    text-decoration: none;
  }

  section > div > ol > li > a:hover:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 3px 0 0;
    border-color: #ffb347 #ffb347 transparent transparent;
    margin: 3px;
  }

  .text::after {
    content: "New";
    width: 100%;
    color: red;
    font-size: 11px;
    position: relative;
    top: -8px;
    font-weight: bold;
  }

  .box-work {
    margin: 6px;
    width: 32%;
  }

  .box-work > div > p {
    font-style: italic;
  }

  .box-work > div > p::first-letter {
    font-size: 1.4em;
    font-weight: 370;
  }

  #contact > h2 {
    text-align: left;
  }

  #contact_name,
  #contact_email,
  #contact_subject {
    border: none;
    border-bottom: 2px solid lightskyblue;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1mm;
  }

  #contact_message {
    border: 2px solid lightskyblue;
    font-weight: bold;
    letter-spacing: 1mm;
  }

  #contact_name:focus,
  #contact_email:focus,
  #contact_subject:focus {
    background-color: lightskyblue;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1mm;
  }

  #contact_email {
    background: right/7% no-repeat url(../img/email-icon.png);
  }

  #contact_message {
    resize: none;
  }

  #contact > form > button {
    float: right;
    color: lightskyblue;
    font-weight: 400;
    font-size: 22px;
    background-color: #fff;
    border-radius: 1px;
    width: 180px;
    height: 60px;
    border: 2px solid lightskyblue;
  }

  #contact > form > button:hover {
    color: white;
    background-color: skyblue;
  }

  #home:hover {
    box-shadow: 0px 0px 5px 1px rgba(61, 55, 61, 0.7);
  }

  h2 + p {
    font-style: italic;
    line-height: 175%;
    padding: 10px 0px 10px 0px; 
    
  }
}
